{% extends "base.html" %}

{% block title %}Home - Chess App{% endblock %}

{% block head %}
  {{ super() }}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-settings.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="mb-4">Chess Puzzles</h2>

  <!-- Chessboard Container -->
  <div class="row mb-5">

      <div id="board1" style="width: 400px"></div>
    </div>
  </div>

  <!-- Puzzle Cards -->
  <div class="row">
    {% for i in range(1, 10) %}
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Puzzle {{ i }}</h5>
            <a href="{{ url_for('main.puzzle_offset', offset=i) }}" class="btn btn-primary">Go to Puzzle</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
