<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chessboard Local</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css') }}">
  <style>
    #board1 {
      width: 400px;
      margin: 20px auto;
    }
  </style>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
</head>
<body>

  <h2 style="text-align: center;">Starting Position</h2>
  <div id="board1"></div>

  <script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
  <script>
    const board = Chessboard('board1', {
      position: 'start',
      draggable: false
    });
  </script>

</body>
</html>
