{% extends "base.html" %}

{% block title %} {{ date.strftime('%B %d') }} {% endblock %}

{% block head %}
  {{ super() }}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-settings.css') }}">
  <script type="module" src="{{ url_for('static', filename='js/puzzle.js') }}"></script>
{% endblock %}

{% block content %}
  <div id="puzzle-data"
       data-id="{{ puzzle.id }}"
       data-pgn="{{ puzzle.pgn }}"></div>

  <h2 class="text-center">{{ date.strftime('%B %d') }} Puzzle </h2>
  <h2 class="text-center">{{ to_move }} to move </h2>


  <div id="board1"></div>

  <p class="text-center mt-3">
    go back? <a href="{{ url_for('main.index') }}">Click me!</a>
  </p>
{% endblock %}

{% block scripts %}

  <script type="module" src="{{ url_for('static', filename='js/puzzle.js') }}"></script>
{% endblock %}

